body {
    display: flex;
    flex-wrap: wrap;
    background: burlywood;
    align-items: flex-end;
}

.topBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#timer, #startResetBtn {
    color: black;
    padding: 20px;
    font-size: 30px;
    margin: 0px;
}

#startResetBtn{
    background-color: rgb(194, 129, 55);
    border: solid 5px;
}

.content{
    width: 100%;
    padding: 20px;
    margin: 30px;
}

#quizBox{
    display: flex;
    flex-direction: column;
}
